@charset "utf-8";

/* 물빛여름-베너 */
@font-face {
    font-family: 'HSSummer';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSSummer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 스위트 */
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* 도담도담 */
@font-face {
    font-family: 'KCC-DodamdodamR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-DodamdodamR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}

.clearfix::before, .clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#header{
    width: 100%;
    height: 150px;
    background-color: rgba(255,255,255,0.3);
    z-index: 10;
    position: fixed;
}
#banner{
    width: 100%;
    height: 1000px;
    
}
#contents{
    width: 100%;
    height: 1800px;


}
#footer{
    width: 100%;
    height: 300px;
    background-color: #333;

}
.container{
    width: 1280px;
    margin: 0 auto;
    /* background-color: rgba(255,255,255,0.3); */
    object-fit: cover;
    height: inherit;
}

.header{
    width: 100%;
    height: 150px;
    display: flex;
    /* background-color: rgba(255,255,255,0.3); */
    position: relative;
    z-index: 10;
}
.header .logo{
    width: 250px;
    height:100px;
    /* float: left; */
    margin-top: 50px;
    transition:  margin-left 0.3s;
   
}
.header.on .logo{
     margin-left: 100px;
}
.header .logo img{
    position: absolute;
}
.header .nav{
    position: absolute;
    /* float: right; */
    right: 0;    
    transition:  margin-right 0.3s;
        margin-top: 80px;
}
.header.on .nav{
    margin-right: 100px;

}
.header .nav ul{

}
.header .nav ul li{
    float: left;
 }
.header .nav ul li a{
    width: 160px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    /* background-color: lightcoral; */
    
}

.banner{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 1000px;
   /* background-color: red; */
   overflow: hidden;
}
.banner ul{
    position: relative;
    height: 1000px;
}
.banner ul li{
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 0;
    left: 0;

}
.banner ul li img{
    width:100%;
    height: 1000px;
    object-fit: cover;
    display: block;
    /* position: relative; */
     
}
.banner ul li span{
    position: absolute;
    left: 50%;
    bottom: -220px;
    transform: translateX(-50%);
    display: block;
    margin: 0 auto;
    z-index: 8;
    font-size: 338px;
    text-align: center;
    font-family: 'HSSummer';
    color: #fff;
    /* background-color: red; */
    line-height: 1.3;
    opacity: 0.8;
}
.contents{
    width: 100%;
    height: inherit;
    /* background-color: red; */
}
.contents article{
    width: 100%;
    height: 400px;
}

.contents .const1{

}
/* .contents .const1 h2{
    width: 100%;
    line-height: 130px;
    font-size: 35px;
    font-family: 'SUITE-Regular';
    color: #2b4a8a;
} */
.contents .const1 ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.contents .const1 ul li{}

.contents .const1 ul li:nth-of-type(1) span{
    color: #ffcc00;}
.contents .const1 ul li:nth-of-type(2) span{
    color: #008aff;
}
.contents .const1 ul li:nth-of-type(3) span{
    color: #cf6d15;
}
.contents .const1 ul li:nth-of-type(4) span{color: #2b4a8a;}
.contents .const1 ul li img{
    transition: opacity 0.7S;
    opacity: 0;
}
.contents .const1 ul li:hover img{
    opacity: 1;

}
.contents .const1 ul li span{
    width: 300px;
    height: 250px;
    position: absolute;
    text-align: center;
    font-size: 70px;
    font-family: 'HSSummer';
    top: 80px;
    cursor: pointer;
    color: #fff;
    transition: all 0.7S;
    z-index: 3;
}
.contents .const1 ul li:hover span{
    color: rgba(255,255,255,0.8);
    /* color: #fff; */
    
}

.contents .const2{
   
}
.contents .const2 ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contents .const2 ul li{
    width: 300px;
    height: 250px;
    position: relative;
}
.contents .const2 ul li img{
    position: absolute;
    transition: all 0.7s;
    z-index: 10;
}
.contents .const2 ul li span{
    position: absolute;
    width: 230px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #2b4a8a;
    font-weight: bold;
    padding: px;
    font-family: 'SUITE-Regular';
    border: 1px solid #2b4a8a;
    border-radius: 15px;
    z-index: 5;
}
.contents .const2 ul li:hover img{
    opacity: 0;
}
.contents .const3{}
.contents .const3 h2{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #008aff;
    color: #fff;
    font-size: 30px;
    padding-left: 50px;
}
.contents .const3 ul{
    display: flex;
    justify-content: space-between;
}
.contents .const3 ul.cont3_con1{
    width: 100%;
    height: 130px;
}
.contents .const3 h2 ul.cont3_con1 li{
    
}
.contents .const3 ul.cont3_con1 li a{
    width: 300px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    display: block;
    font-size: 30px;
    color: #2b4a8a;
}
.contents .const4{
    height: 600px;
}
.contents h2{
    width: 100%;
    line-height: 130px;
    font-size: 35px;
    font-family: 'SUITE-Regular';
    color: #2b4a8a;
}

.const4{}
.const4 .section1{
    width: 100%;
    height: 100px;
    padding-left: 60px;
}
.const4 .section1 h2{}

.const4 .section2{
    width: 480px;
    height: 500px;
    float: left;
    padding-top: 50px;
    position: relative;
    
    
}
.const4 .section2 >div{
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
    display: block;
    cursor: pointer;
    font-family: 'SUITE-Regular';
}
.const4 .section2 .map_text{
    width: 220px;
    height: 180px;
    border: 3px solid #2b4a8a;
    border-radius: 10px;
    padding: 15px 30px;
    transition: all 1s;
    /* position: relative; */
   
}

.const4 .section2 .map_text1:hover .map{
    opacity: 1;
}
.const4 .section2 .map_text2:hover .map{
    opacity: 1;
}
.const4 .section2 .map_text3:hover .map{
    opacity: 1;
}
.const4 .section2 .map_text4:hover .map{
    opacity: 1;
}


.const4 .section2 .map_text:nth-of-type(2){
    margin-right: 0;
}
.const4 .section2 .map_text:nth-of-type(4){
    margin-right: 0;
}
.const4 .section2 .map_text:nth-of-type(3){
    margin-bottom: 0;
}
.const4 .section2 .map_text:nth-of-type(){
    margin-bottom: 0;
}
.const4 .section2 .map_text h3{
    padding-bottom: 13px;
}
.const4 .section2 .map_text p{
    padding: 1px;
}
.const4 .section2 .map_text:nth-of-type(1):hover{
    background-color: rgba(255,255,255,0.4);
}
.const4 .section2 .map_text .map{
    position: absolute;
    width: 850px;
    top: 0px;
    left: 480px;
    opacity: 0;
    transition: all 1s;

}


.const4 .section3{
    width: 800px;
    height: 500px;
    float: right;
}


.footer{
    width: 100%;
    height: 300px;
}

.footer .foot_1{
    width: 100%;
    height: 200px;
}
.footer .foot_1 .f_logo{
    width: 300px;
    height: 200px;
    float: left;
    opacity: 0.5;
    
}
.footer .foot_1 .f_logo img{
    padding: 15px;

}
.footer .foot_1 .f_text{
    width:800px;
    height: 100px;
    float: right;
    text-align: right;
    padding-top: 90px;
  
}
.footer .foot_1 .f_text a{
    color: #fff;
    padding-right: 80px;
    font-weight: bold;
}
.footer .foot_1 .f_copy{
    width: 800px;
    height: 100px;
    float: right;
    text-align: right;
    padding-top: 40px;
}
.footer .foot_1 .f_copy p{
    color: #999;
    padding-right: 80px;

}
.footer .foot_2{
    width: 100%;
    height: 100px;
    padding: 20px;
}

.footer .foot_2 p{
    width: 100%;
    color: #999;
    font-size: 10px;
    padding: 3px 30px;
    
}



